@import "abstracts/mixins";
@import "abstracts/variables.scss/";

@import "base/animation.scss";
@import "base/base.scss";
@import "base/utilities.scss";

@import "components/button.scss";
@import "components/composition.scss";
@import "components/feature-box.scss";
@import "components/card.scss";

@import "layout/header.scss";


.heading-secondary {
    font-size: 42px;
    padding: 2*$spacer;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-light, $color-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: $color-shadow;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;


    &__text {
        padding: 2*$spacer;
        padding-left: 25%;
        line-height: 1.8;
    }

    &__images {
        position: relative;
        padding: 2*$spacer;
    }
}



.about {
    background-color: $color-grey-dark;
    margin-top: -20vh;
    margin-bottom: -25vh;
    padding: 6*$spacer 3*$spacer;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    
    
        &__text {
            padding: 2*$spacer;
            padding-left: 25%;
            line-height: 1.8;
        }
    
        &__images {
            position: relative;
            padding: 2*$spacer;
        }
    }

    &__heading {
        font-weight: 700;
    }

    &__img {
        width:40%;
        box-shadow: $color-shadow;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        

        &:hover {
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: $color-shadow;
            outline: 1.5rem solid $color-medium;
            z-index:20;
        }
    }

    &__img1 {
        top: 0;
        left:10%;
    }
    
    &__img2 {
        top: 15%;
        left: 40%;
    }
    
    &__img3 {
        top: 35%;
        left: 20%;
    }

    &:hover &__img:not(:hover) {
        transform: scale(0.95);
        
    }


}

.features {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.801),
        rgba(40, 180, 133, 0.801)), 
    url(/img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2*$spacer;
    padding: 2*$spacer; 
    margin-top: -2px;  
}

.tours {
    background-color: $color-grey-dark;
    padding-top: 20vh;
    margin-top: -25vh;


    &__cards {
        display: flex;
        align-items: center;
        flex : calc((100% - 2 * #{$gutter-horizontal}) / 3);
        justify-content: space-around;
    }

}

