.btn {
    &--white{
        background-color: $color-secondary;
        color: $color-primary;
        font-size: 20px;
        text-transform: uppercase;
        border: 1px solid $color-secondary;
        border-radius: 60px;
        padding: $spacer;
        margin-top: 2*$spacer;
        transition:all .2s;
        position:relative;

        &::after {
            background-color: $color-secondary;
        }
    }


    &--green{
        background-color: $color-medium;
        color: $color-secondary;
        font-size: 20px;
        text-transform: uppercase;
        border: 1px solid $color-secondary;
        border-radius: 60px;
        padding: $spacer;
        margin: 2*$spacer 0;
        transition:all .2s;
        position:relative;

        &::after {
            background-color: $color-medium;
        }
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}

.about__button {
    color: $color-medium;
    display: inline-block;
    text-decoration: none;
    padding:3px;
    border-bottom: 1px solid $color-medium;
    transition: all .2s;


    &:hover {
        background-color: $color-medium;
        color:white;
        box-shadow: .0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: .0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(0);
    }
}
